header {
  background-color: rgb(76, 76, 246);
}

header nav ul {
  display: -webkit-flex;
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: flex-end;
}

a {
  text-decoration: none !important;
  color: white;
}

.left {
  margin-right: auto;
  padding: 25px 25px;
  list-style-type: none;
  font: 3em sans-serif;
  text-align: left;
}

.right {
  padding: 25px 25px;
  list-style-type: none;
  font: 1.5em sans-serif;

  text-align: right;
}
